---
BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignArrayOfStructures: None
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignConsecutiveShortCaseStatements:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
    AlignCaseColons: false
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: Align
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 1
AllowShortBlocksOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowShortNamespacesOnASingleLine: true
ColumnLimit: 120
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: \"
    Priority: 1
  - Regex: <dink/(bin|lib|test).hpp>
    Priority: 2
  - Regex: <dink/
    Priority: 3
  - Regex: /(bin|lib|test).hpp>
    Priority: 4
  - Regex: <groundwork/
    Priority: 5
  - Regex: .*
    Priority: 6
IncludeIsMainRegex: (_test|_unit_test|_integration_test)?$
IncludeIsMainSourceRegex: ""
IndentWidth: 4
InsertNewlineAtEOF: true
LineEnding: LF
TabWidth: 4
