# in-tree shadow builds
build/
out/

# ide noise
.cache/
.vs/
.vscode/
CMakeLists.txt.user
compile_commands.json
*.vcxproj.user

# whitelist shared vs code files
!.vscode/launch.json
!.vscode/tasks.json

# local files
CMakeUserPresets.json
